/*-- scss:defaults --*/

//fonts
$font-family-sans-serif: "Omnes";

/*-- scss:rules --*/
.title {
  font-family: Space Mono;
  text-align: left;
  font-size: 30pt;
}

h2 {
  font-family: Space Mono;
  font-size: 24pt;
}

h3 {
  font-family: Space Mono;
  font-size: 20pt;
}

.table-grid {
  font-family: Space Mono;
}